# Ignore object files
*.o
*.out

# Ignore image files
*.img
*.qcow2
*.vmdk

# Ignore other files
*.bin
.bash_history
settings.json
.gdbinit
.gdb_history

Kernel/*.elf
.vscode
hooks/*

# PVS Studio
report.html
report.log
strace_out
